
{% extends "layouts/base.html" %}

{% load static %}

{% block content%}

<h1>{{title}}</h1>

<img src="{% static 'Macbook_Air_15_inch_-_2_(blurred).jpg' %}" alt ="">

<p>lVoluptate nostrud adipisicing duis labore non ut pariatur et ut culpa dolor occaecat sint. Excepteur cillum incididunt non nulla aliqua cillum. Non tempor laborum aute enim velit excepteur ipsum incididunt quis consectetur ea. Excepteur ea aliquip ullamco pariatur. Sunt cillum labore quis ad culpa do mollit tempor consequat minim in dolor pariatur reprehenderit.

Fugiat ad quis amet amet id anim exercitation officia veniam culpa proident amet ad ut. Voluptate dolore quis elit eiusmod tempor dolor tempor anim. Magna laboris elit officia adipisicing aliquip magna minim dolore aliquip sunt nostrud. Ex duis occaecat magna id aute Lorem anim.

Dolor cillum esse deserunt amet eiusmod do culpa aliquip occaecat eu id amet. Do anim cupidatat nulla esse labore sunt ex excepteur fugiat ullamco aliqua nulla in. Et dolor aute qui aute veniam elit aliqua ut non ipsum. Reprehenderit aliqua magna enim anim nostrud ad eu nostrud amet aliqua anim eiusmod sunt anim. Incididunt occaecat ullamco sit enim id magna. Lorem mollit qui veniam esse laboris commodo eiusmod culpa esse nisi sint adipisicing.

Et nostrud cillum tempor eu. Deserunt mollit non aliqua magna pariatur sint qui Lorem deserunt voluptate pariatur. Dolore veniam fugiat aute irure exercitation id fugiat sunt duis voluptate adipisicing labore laboris mollit. Nulla in aute cillum amet minim enim adipisicing ullamco deserunt amet aliqua sunt fugiat occaecat. Ipsum proident reprehenderit minim nostrud do id consectetur ex nisi. Elit minim sunt fugiat Lorem anim exercitation non pariatur proident non. Amet pariatur aliqua et exercitation veniam proident.

Exercitation exercitation irure anim laborum magna culpa voluptate labore commodo labore occaecat commodo elit. Laborum esse culpa laboris eiusmod elit. Velit nostrud dolore proident enim do. Voluptate occaecat aliquip fugiat nulla voluptate excepteur sunt laborum. Minim ex reprehenderit officia occaecat aliqua ex aliqua Lorem. Aute incididunt et reprehenderit irure amet tempor sit aliqua excepteur minim consectetur.

Culpa nisi est qui ad pariatur aute id exercitation pariatur commodo. Consequat anim anim excepteur occaecat voluptate eu ad Lorem adipisicing labore nulla cupidatat pariatur. Officia voluptate voluptate dolore culpa Lorem qui mollit quis ullamco. Commodo eiusmod dolor anim commodo incididunt labore id quis ex. Incididunt officia nostrud ipsum elit dolor magna consequat irure.

Sit laborum quis consectetur culpa eiusmod veniam sint. Ea dolore consequat cupidatat reprehenderit non dolore. Ex laborum et et laboris reprehenderit deserunt Lorem velit voluptate ex sunt adipisicing. Incididunt aliquip et cillum eiusmod nisi elit ex. Labore anim ullamco commodo enim veniam sunt nisi. Qui culpa minim cillum laboris dolor eiusmod adipisicing Lorem. Est reprehenderit pariatur occaecat ex labore in.

Cillum et fugiat aliquip minim consequat ad dolor. Quis elit culpa enim ipsum cillum mollit nulla ullamco ipsum cupidatat tempor. Anim eiusmod id laborum eiusmod nostrud ipsum aliqua dolor duis Lorem cillum. Est id aute magna est ea fugiat irure velit culpa do. Qui voluptate officia duis proident quis quis velit cillum quis ullamco. Excepteur ea Lorem incididunt nostrud amet anim officia minim incididunt anim. In consequat veniam incididunt sint adipisicing aute amet adipisicing in officia sunt ex cillum anim.</p>
{% endblock %}